<form [formGroup]="form">
  <div class="form-control">
    <label>description:</label>
    <input type="text" formControlName="description">
  </div>
  <div *ngIf="description.invalid && [description.dirty || description.touched]">
    <div *ngIf="description.getError('required' ) else lengthInvalidTpl" class="form-error">please input</div>
    <ng-template #lengthInvalidTpl>
      <div class="form-error">length must less than 15 characters.</div>
    </ng-template>
  </div>
  <div class="form-control">
    <label>category:</label>
    <select formControlName="category">
      <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
    </select>
  </div>
  <div *ngIf="category.invalid && [category.dirty || category.touched]" class="form-error">please choose one</div>
  <div class="form-control">
    <label>content:</label>
    <textarea formControlName="content"></textarea>
  </div>
</form>
<button (click)="submit()" [disabled]="form.invalid">submit</button>
