.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

h4 {
    color: rgba(157, 211, 168, 1);
    padding: 7px;
}

.my-btn {
    margin-left: 55px;
}

p {
    padding-left: 20px;
}
