.example-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.drawer {
  width: 13%;
  background-image: url("../assets/img/pic9.jpeg");
  background-size: cover;
}

.location{
  padding:0 10px;
  height: 30px;
  line-height: 30px;
}

.content {
  background-size: contain;
  background-image: url("../assets/img/pic7.jpeg");
  width: 86%;
  overflow: auto;
}

.tree-root {
  padding: 50px;
}

.ng-star-inserted {
  list-style: none;
}

.photo-wrapper {
  text-align: center;
  padding-top: 20px;

  .photo {
    border-radius: 50%;
  }
}

h2 {
  padding: 3px 5px;
}

ul {
  padding: 10px;
}

li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px #424242 solid;
}

.active{
  color: rgba(65,146,75,1);
}

.icons {
  font-size: 15px;
}

.path {
  display: inline-block;
  width: 90px;
}
