.example-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.drawer {
  background-color: rgba(217, 217, 243, 0.9);
}

.content {
  background-color: rgba(244, 240, 230, 0.5);
  padding-left: 40px;
  overflow: auto;
}

.tree-root {
  padding: 50px;
}

.ng-star-inserted {
  list-style: none;
}

.photo-wrapper {
  text-align: center;
  padding-top: 20px;

  .photo {
    border-radius: 50%;
  }
}

h2 {
  padding: 3px 5px;
}

ul {
  padding: 10px;
}

li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px #424242 solid;
}

.icons {
  font-size: 15px;
}

.path {
  display: inline-block;
  width: 90px;
}
