<div class="wrapper-box">
    <mat-grid-list [style.background]="'lightBlue'" cols="8" rowHeight="100px">
       <mat-grid-tile [colspan]="1" [rowspan]="1">属性名称</mat-grid-tile>
       <mat-grid-tile [colspan]="5" [rowspan]="1">值</mat-grid-tile>
       <mat-grid-tile [colspan]="1" [rowspan]="1">类型</mat-grid-tile>
       <mat-grid-tile [colspan]="1" [rowspan]="1">操作</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
          [colspan]="4"
          [rowspan]="1"
          fxLayout="row"
          *ngFor="let key of objectKeys(tableD)"
          [style.background]="'rgb(243,243,243)'"
      >
          <ng-container *ngIf="type(tableD[key])">
              <input fxFlex="10" [value]="key"/>
              <span fxFlex style="text-align: center">{{str(tableD[key])}}</span>
              <span fxFlex="10">{{tableD[key] | getType}}</span>
              <button fxFlex="10" class="my-btn" mat-raised-button>移除</button>
          </ng-container>

          <ng-container *ngIf="!type(tableD[key])">
            <ng-container >
                <input fxFlex="10" [value]="key" *ngIf="!tableD[key].length"/>
<!--              <mat-tree *ngIf="tableD[key].length && tableD[key].length>0" [dataSource]="dataSource">-->

<!--              </mat-tree>-->
            </ng-container>
              <mat-form-field fxFlex style="text-align: center">
                <mat-label>插入字段</mat-label>
                <mat-select>
                  <mat-option value="number">数字</mat-option>
                  <mat-option value="string">字符串</mat-option>
                  <mat-option value="array">数组</mat-option>
                </mat-select>
              </mat-form-field>
            <span fxFlex="10">{{tableD[key] | getType}}</span>
            <button fxFlex="10" class="my-btn" mat-raised-button>移除</button>
          </ng-container>
      </mat-grid-tile>
    </mat-grid-list>
</div>
