h4 {
    color: #21243d;
    padding: 5px;
}

.all-data {
    display: inline-block;
    width: 200px;
    border: 1px lightpink solid;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
}

.my-btn {
    margin-left: 59px;
}

.inner-div {
    text-indent: 2rem;
    margin: 5px;
}

.bind {
    padding: 0 15px;
    font-size: 15px;
    color: cornflowerblue;
}

.only {
    display: block;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.only:link {
    text-decoration: none;
}

.only:active {
    text-decoration: none;
}

.only:visited {
    text-decoration: none;
}

.only:hover {
    color: slateblue;
    text-decoration: none;
}
