<div>
  <h4>1）ngfor & ngIf & 插值 & 事件绑定：</h4>
  <div class="inner-div" *ngFor="let item of allData">
    <span class="all-data" *ngIf="item.num >= 5" (click)="chooseSpan(item)">{{item.key}}：{{item.value}}</span>
  </div>
</div>


<div>
  <h4>2）双向数据绑定：</h4>
  <div class="inner-div">
    <input [(ngModel)]="input_value"/>
    <span>{{input_value}}</span>
  </div>
</div>

<div>
  <h4>3）属性绑定语法：</h4>
  <div [innerHTML]="bind" [title]="bindDesc" class="inner-div bind"></div>
</div>

<div>
  <h4>4）组件间传值：</h4>
  <div class="inner-div">
    <app-hero [receive]=data_forHero (childOuter)="getData($event)" #hero></app-hero>
  </div>
  <button mat-raised-button color="accent" class="my-btn" (click)="getHeroval()">获取hero组件中的值</button>
</div>

<div>
  <h4>5）路由跳转：</h4>
  <div class="inner-div">
    <a class="only" (click)="goRouteTest()">点我跳转到route-test</a>
    <!--    <a class="only" (click)="routeTo('hero')">点我跳转到hero</a><br>-->
    <a class="only" routerLink="/todo">点我跳转到todo</a>
  </div>
</div>

