<div class="out">
  <div class="wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div class="inner inner1">1</div>
    <div class="inner inner2">2</div>
    <div class="inner inner3">3</div>
    <div class="inner inner4">4</div>
  </div>
</div>
<div class="out">
  <div class="wrapper" fxLayout="row">
    <div class="inner inner1" fxFlex="100px">1</div>
    <div class="inner inner2" fxFlex="auto">2</div>
    <div class="inner inner3">3</div>
    <div class="inner inner4" fxFlex="0 1 auto">4</div>
  </div>
</div>
<div class="out">
  <div class="wrapper" fxLayout="row">
    <div class="inner inner1" fxFlexOrder="4">1</div>
    <div class="inner inner2" fxFlexOrder="3">2</div>
    <div class="inner inner3" fxFlexOrder="2">3</div>
    <div class="inner inner4" fxFlexOrder="1">4</div>
  </div>
</div>
<div class="out">
  <div class="wrapper" fxLayout="row">
    <div class="inner inner1" fxFlexOffset="10px">1</div>
    <div class="inner inner2" fxFlexOffset="5%">2</div>
    <div class="inner inner3" fxFlexOffset="4vw">3</div>
    <div class="inner inner4" fxFlexOffset="5vh">4</div>
  </div>
</div>
<div class="out">
  <div class="wrapper" fxFlexFill>
    <div class="inner inner1">1</div>
    <div class="inner inner2">2</div>
    <div class="inner inner3">3</div>
    <div class="inner inner4">4</div>
  </div>
</div>


