.out {
  display: inline-block;
  margin: 10px;
  .wrapper {
    width: 400px;
    padding: 5px;
    //align-items: center;
    //justify-content: center;
    border: 1px #424242 solid;
    display: inline-flex;

    .inner {
      box-sizing: content-box;
      width: 50px;
      color: #000;
      text-align: center;
      padding: 10px 10px;
    }

    .inner1 {
      background-color: cornflowerblue;
    }

    .inner2 {
      background-color: aquamarine;
    }

    .inner3 {
      background-color: lightcoral;
    }

    .inner4 {
      background-color: lightpink;
    }
  }
}

