.wrapper-box{
    margin: 10px;
    color: #000;
}
h4{
    color: #21243d;
    padding: 5px;
}
.inner-box{
    text-indent: 2rem;
}
p{
    padding: 5px 0;
}
input{
    margin: 5px 0;
}
.my-btn{
    margin-left: 30px;
}
.dialog-ol li{
    margin-left: 50px;
}
/*.editor {*/
/*    width: 800px;*/
/*    min-height: 500px;*/
/*}*/
:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  width: 800px;
  height: 500px;
}
.dj{
  width: 1200px;
  height: 550px;
}
